*{
    font-family: "Quicksand", sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
    background-color:white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar{
    margin-top: 5px;
    font-size: 62.5%;
    width: 45rem;
    height: 37rem;
    background-color: rgba(248, 243, 243, 0.993);
}

.month{
    width: 100%;
    height: 10rem;
    background-color: rgb(47, 226, 166);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem;
    color: white;
    text-align: center;
}

.month i{
    font-size: 2.5rem;
    cursor: pointer;
    color: white;
}

.month p{
    font-size: 1.6rem;
    color: white;
}

.weekdays{
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
}

.weekdays div{
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    width: calc(44.2rem/7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.days{
    font-size: 62.5%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0.2rem;
}

.days div{
    font-size: 1.2rem;
    margin: 0.3rem;
    width: calc(39.2rem/7);
    height: 2.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.prev-date, .next-date{
    opacity: 0.5;
}

.days div:hover{
    background-color: #9fe2b2;
    border: 00.2rem solid rgb(10, 10, 10);
    cursor: pointer;
  }

.today{
    background-color: rgb(47, 226, 166);
}
@media only screen and (max-width:720px) {
    .calendar{
        font-size: 62.5%;
        width: 30rem;
        height: 30rem;
        background-color: rgb(244, 237, 237);
    }
    
    .month{
        width: 100%;
        height: 8rem;
        background-color: green;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.2rem;
        color: white;
        text-align: center;
    }
    
    .month i{
        font-size: 2rem;
        cursor: pointer;
        color: white;
    }
    
    .month p{
        font-size: 1.2rem;
        color: white;
    }
    
    .weekdays{
        width: 100%;
        height: 3rem;
        display: flex;
        align-items: center;
    }
    
    .weekdays div{
        font-size: 0.8rem;
        width: calc(29.2rem/7);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .days{
        font-size: 62.5%;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        padding: 0.2rem;
    }
    
    .days div{
        font-size: 1rem;
        margin: 0.1rem;
        width: calc(27rem/7);
        height: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}