*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(13, 15, 15);
}



.about-1{
    margin: 30px;
    padding: 5px;
}
.about-1 h1{
    text-align: center;
    color: rgb(245, 240, 240);
    font-weight: bold;
}
.about-1 p{
    text-align: center;
    padding: 3px;
    color: #fff;
}


.about-item{
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: white;
    padding: 80px 30px;
    box-shadow: 0 0 9px rgba(0,0,0.6);
}


.about-item i{
    font-size: 43px;
    margin: 0;
}


.about-item h3{
    font-size: 25px;
    margin-bottom: 10px;
}


.about-item hr{
    border: none;
    text-align: center;
}


.about-item:hover i{
    transform: translateY(-20px);
}
.about-item:hover i,
.about-item:hover h3,
.about-item:hover hr{
    transition: all 400ms ease-in-out;
}
.services h1 {
    margin-left: 450px;
}

.services .heading {
    color: #ecf3f7;
    font-size: 30px;
}

.services .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
  }
  
  .services .box-container .box{
    flex: 1 1 30rem;
    border-radius: .5rem;
    padding:1rem;
    text-align: center;
  }
  
  .services .box-container .box i{
    padding:1rem;
    font-size: 5rem;
    color: rgb(95, 213, 74);
  }
  
  .services .box-container .box h3{
    font-size: 2.5rem;
    color:rgb(245, 238, 238);
  }
  
  .services .box-container .box p{
    font-size: 1.5rem;
    color:rgb(238, 222, 222);
    padding:1rem 0;
  }
  


@media screen and (max-width: 768px) {
    .services h1 {
        margin-left: 50px;
    }
    
}

@media screen and (max-width: 600px) {
    .services h1 {
        margin-left: 20px;
    }
}














