body{
    background: grey;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    position: relative;
    max-width: 700px;
    width: 100%;
    border-radius: 10px;
    padding: 30px;
    margin: 0 15px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}
.container h2{
    position: relative;
    text-align: center;
}
.container form{
    position: relative;
    margin-top: 16px;
    min-height: 490px;
    background-color: #fff;
    overflow: hidden;
}
.container form .fields{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
form .fields .input-field{
    display: flex;
    width: calc(100% / 3 - 15px);
    flex-direction: column;
    margin: 4px 0;
}
.input-field label{
    font-size: 12px;
    font-weight: 500;
    color: #2e2e2e;
    font-size: 18px;
}
.input-field input, select{
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 0 15px;
    height: 42px;
    margin: 8px 0;
}
p input{
    width:150px;
    height:50px;
    border-radius: 15px;
}

@media (max-width: 750px) {
    form {
        width: 100%;
    }
    form .fields .input-field{
        width: 100%;
    }
}

@media (max-width: 550px) {
    form {
        width: 100%;
    }
    form .fields .input-field{
        width: 100%;
    }
}
